
#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
#############################################################################
#   This is a configuration file for the fabric-ca-client command.
#
#   COMMAND LINE ARGUMENTS AND ENVIRONMENT VARIABLES
#   ------------------------------------------------
#   Each configuration element can be overridden via command line
#   arguments or environment variables.  The precedence for determining
#   the value of each element is as follows:
#   1) command line argument
#      Examples:
#      a) --url https://localhost:7054
#         To set the fabric-ca server url
#   2) environment variable
#      Examples:
#      a) FABRIC_CA_CLIENT_URL=https://localhost:7054
#         To set the fabric-ca server url
#   3) configuration file
#   4) default value (if there is one)
#      All default values are shown beside each element below.
#
#   FILE NAME ELEMENTS
#   ------------------
#   All filename elements below end with the word "file".
#   For example, see "certfile" and "keyfile" in the "ca" section.
#   The value of each filename element can be a simple filename, a
#   relative path, or an absolute path.  If the value is not an
#   absolute path, it is interpretted as being relative to the location
#   of this configuration file.
#
#############################################################################

#############################################################################
# Client Configuration
#############################################################################

# URL of the Fabric-ca-server (default: http://localhost:7054)
URL: "{{fabric_ca_host}}":"{{fabric_ca_port}}" #http://localhost:7090

#############################################################################
#    TLS section for secure socket connection
#############################################################################
tls:
  # TLS section for secure socket connection
  certfiles: {{tls_ca_sert_file_name}}   # Comma Separated list of root certificate files (e.g. root.pem, root2.pem)
  client:
    certfile: {{tls_client_sertfile_name}}
    keyfile: {{tls_key.pem}}

#############################################################################
#  Certificate Signing Request section for generating the CSR for
#  an enrollment certificate (ECert)
#############################################################################
csr:
  cn: {{csr_cn_user_name}}
  names:
    - C: {{fabric_client_ca_c}}
      ST: 
      L: {{fabric_client_ca_l}}
      O: {{fabric_client_org}}
      OU: {{fabric_client_ca_ou}}
  hosts:
   - {{fabric_ca_host}}
  ca:
    pathlen:
    pathlenzero:
    expiry:

#############################################################################
#  Registration section used to register a new user with fabric-ca server
#############################################################################
id:
  name: {{csr_cn_user_name}}
  type: {{fabric_ca_client_type}}
  affiliation: {{fabric_ca_client_affilitation}}
  attributes:
    - name: hf.Revoker
      value: true
    - name: foo
      value: bar
