## tamplate for crypto-config

OrdererOrgs:
  - Name: {{fabric_orderer_org}}
    Domain: {{fabric_orderer_domain}}
    Specs:
      - Hostname: {{fabric_orderer_hostname_short}}0
      - Hostname: {{fabric_orderer_hostname_short}}1
      - Hostname: {{fabric_orderer_hostname_short}}2
     #- Hostname: {{fabric_orderer_hostname_short}}3
     # - Hostname: {{fabric_orderer_hostname_short}}4
    CA:
      Country: {{crypto_orderer_ca_c}}
      Province: {{crypto_orderer_ca_l}}
      Locality: {{crypto_orderer_ca_l}}
      OrganizationalUnit: {{crypto_orderer_ca_ou}}
      StreetAddress: {{crypto_orderer_ca_sa}}
      PostalCode: {{crypto_orderer_ca_pc}}

PeerOrgs:
  - Name: {{fabric_peer_org}}
    Domain: {{fabric_peer_domain}}
    # https://stackoverflow.com/questions/49924937/meaning-of-enablenodeous-in-crypto-config-yaml
    EnableNodeOUs: true
    Template:
      Count: 10
      # Start: 5
      Hostname: {{fabric_peer_hostname_short}}{% raw %}{{.Index}}{% endraw %}

    Users:
      Count: 10
    CA:
      # Hostname: ca # implicitly ca.org1.example.com
      Country: {{crypto_peer_ca_c}}
      Province: {{crypto_peer_ca_l}}
      Locality: {{crypto_peer_ca_l}}
      OrganizationalUnit: {{crypto_peer_ca_ou}}
      StreetAddress: {{crypto_peer_ca_sa}}
      PostalCode: {{crypto_peer_ca_pc}}

#####


